.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.mkhfieo3 button {
  font-weight: 500;
  border: 0px;
  margin: 0px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 39px;
  background-color: rgb(0,59,109);
}

.ml3r3f .navbar .nav-link {
  word-spacing: -1px;
  font-family: 'Inter';
}

.mkhfieo3 {
  display: flex !important;
  padding: 0px;
  justify-content: end !important;
}

@media (min-width: 300px) {
  .nnekfef {
    min-height: 100vh;
  }
}

@media (min-width: 768px) {
  .nnekfef {
    height: 0;
    display: none !important;
    min-height: 0px;
    max-height: 0px;
  }
}

.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sehSqdwL {
}

@media (min-width: 300px) {
  .sehSqdwL h1 {
    color: #003b6d;
    margin-bottom: .5em;
    text-align: center;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 38px;
  }
}

@media (min-width: 300px) {
  .sehSqdwL h4 {
    margin-bottom: 1.5em;
    font-family: 'Open Sans';
    font-weight: 500;
    color: rgba(38,38,38,0.5);
    text-align: center;
    font-size: 15px;
  }
}

@media (min-width: 300px) {
  .sehSqdwL a, .sehSqdwL button {
    background-color: #003b6d;
    padding: 10px 25px;
    border-radius: 10px;
    border: 0px;
    color: #ffffff !important;
  }
}

@media (min-width: 300px) {
  .sehSqdwL .d1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 300px) {
  .NqpbGfzb {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .NqpbGfzb img {
    width: 80%;
    margin-bottom: 5em;
  }
}

@media (min-width: 300px) {
  .NqpbGfzb img {
    width: 100%;
    margin-bottom: 5em;
  }
}

@media (min-width: 768px) {
  .nngrfef {
    display: flex !important;
    min-height: 100vh;
  }
}

.nngrfef {
  display: none;
}

@media (min-width: 992px) {
  .sehSqdwL h1 {
    text-align: left;
    font-size: 60px;
  }
}

@media (min-width: 992px) {
  .sehSqdwL h4 {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .sehSqdwL .d1 {
    justify-content: start;
  }
}

@media (min-width: 1400px) {
  .sehSqdwL h1 {
    line-height: 75px;
    font-size: 63px;
  }
}

@media (min-width: 1400px) {
  .sehSqdwL h4 {
    max-width: 500px;
    font-size: 18px;
    line-height: 27px;
  }
}

@media (min-width: 1400px) {
  .sehSqdwL a, .sehSqdwL button {
    padding: 12px 28px;
    font-size: 18px;
  }
}

.dmwd2 {
  padding-top: 40px;
}

.footer-section {
}

.ifXLmQMa {
  position: relative;
  height: 50vh;
}

.SiEPOBsb {
  padding: 10px;
  background: url("../../assets/img/noise-light.png");
  background-color: #003b6d;
  display: flex;
  align-items: end;
  justify-content: center;
}

.oFJQUnNu {
  width: 100%;
}

@media (min-width: 300px) {
  .TjmAPstA {
    padding: 15px;
    background-color: #ffffff;
  }
}

.TjmAPstA h3 {
  max-width: 300px;
  font-family: 'Roboto Condensed';
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  margin-bottom: .5em;
}

.TjmAPstA p {
  max-width: 500px;
  padding-bottom: 1em !important;
  text-align: center;
  font-size: 12px;
}

.ml3r3f {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  z-index: 1000;
  top: 0;
  position: fixed;
}

.ml3r3f .navbar {
  border: 1px solid #003b6d;
  display: flex;
  padding: 0px;
  border-radius: 35px;
  max-width: 1000px;
  width: 100%;
  align-items: center;
}

.TjmAPstA {
  z-index: 100;
  width: 100%;
  max-width: 1150px;
  border-radius: 20px;
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.12);
}

.TjmAPstA .d1 {
  gap: 10px;
  max-width: 330px;
  display: flex;
  align-content: center;
  justify-content: center;
}

@media (min-width: 300px) {
  .TjmAPstA .d1 a {
    font-weight: 500;
    border-radius: 10px;
    padding: 10px 25px;
    text-decoration: none;
    border: 0px;
  }
}

.TjmAPstA .d1 a:first-child {
  border: 0px;
  margin: 0 auto 0 0 !important;
  background-color: #003b6d;
  color: #ffffff;
  font-family: 'Open Sans';
}

.TjmAPstA .d1 a:last-child {
  color: black;
  background-color: #a7a7a7c0;
}

@media (min-width: 768px) {
  .TjmAPstA h3 {
    font-size: 40px;
    max-width: 550px;
  }
}

@media (min-width: 768px) {
  .TjmAPstA {
    padding: 26px;
  }
}

@media (min-width: 992px) {
  .TjmAPstA p {
    font-size: 14px;
  }
}

@media (min-width: 1400px) {
  .TjmAPstA h3 {
    font-size: 46px;
    max-width: 800px;
  }
}

@media (min-width: 1400px) {
  .TjmAPstA {
    padding: 40px;
  }
}

.pmbffSus {
  height: 80%;
  width: 100%;
  max-width: 1300px;
}

.pmbffSus .row {
  padding: 0 0;
  margin: 0 0 2em 0;
}

.logo {
  align-items: center;
  display: flex;
  height: 32px;
  background-color: #ffffff;
  border-radius: 20px;
  line-height: 28px;
  padding: 0 0 0 5px;
  outline: 3px solid #003b6d;
  font-family: 'Roboto Condensed';
  font-weight: 500;
  font-size: 30px;
}

.logo span {
  border: 0px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  background-color: #003b6d;
  padding: 2px 4px;
  color: #fff;
}

.hnIsrkan h5 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  color: #ffffff;
}

.hnIsrkan ul {
  margin: 0px;
  list-style: none;
  padding: 0 0 0 5px;
}

.hnIsrkan ul a {
  font-size: 15px;
  display: flex;
  color: #ffffff;
  text-decoration: none;
  align-items: center;
  gap: 8px;
}

.SiEPOBsb::before {
  opacity: .5;
}

.nmel3 {
  margin-bottom: 1em;
  min-height: 70px;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .nmel3 {
    align-items: start;
  }
}

.hnIsrkan {
  margin-bottom: 2em;
}

.hnIsrkan ul li {
  margin-bottom: 10px;
  color: #fff;
}

.lp32e h5 {
  font-size: 15px;
  color: #ffffff;
}

.lp32e {
  font-family: 'Open Sans';
  min-height: 50px;
}

.lp32e a {
  font-size: 15px;
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.m-left {
  margin: 0 0 0 auto;
}

.gap-10 {
  gap: 10px !important;
}

.lp3af {
  width: 100%;
  background-image: url("../../assets/img/noise-light.png");
  background-color: #003b6d;
  position: relative;
  bottom: 0;
  height: 50%;
}

.hd904 {
  display: flex;
  padding: 1em 0;
  align-items: center;
  justify-content: center;
}

.hd904 h3 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.img503 {
  height: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.img503 img {
  border-radius: 15px;
  width: 100%;
}

.exps3xc {
  height: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.exps3xc h4 {
  margin: 12px 0;
  font-family: 'DM Sans';
  font-weight: 600;
  font-size: 22px;
}

.exps3xc p {
  font-family: 'Inter';
  color: #1b1f23;
}

.ml39fo40 {
  padding-top: 20px;
  min-height: 100vh;
}

@media (min-width: 992px) {
  .hd904 h3 {
    font-size: 40px;
    max-width: 690px;
  }
}

@media (min-width: 1400px) {
  .hd904 h3 {
    font-size: 52px;
    max-width: 875px;
  }
}

@media (min-width: 1400px) {
  .hd904 h3 {
    margin-bottom: 2em;
    font-size: 52px;
    max-width: 875px;
  }
}

@media (min-width: 992px) {
  .img503 img {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .img503 img {
    width: 70%;
  }
}

.exps3xc div {
  max-width: 500px;
}

@media (min-width: 1400px) {
  .exps3xc p {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .div9523 {
    padding: 4em 0;
  }
}

