.card {
  width: 300px;
  min-width: 300px;
  height: auto;
  background: #fff;
  border-radius: 30px;
  position: relative;
  z-index: 10;
  margin: 25px;
  min-height: 356px;
  cursor: pointer;
  transition: all .25s ease;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0, .08);
}

.card:hover {
  transform: translate(0, -10px);
  box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
}

.card h4 {
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px;
}

.card .card-text {
  padding: 20px;
}

p {
  font-size: .8rem;
  opacity: .6;
  margin-top: 10px;
}

.card .card-img {
  border-radius: inherit;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .35s ease-out;
}

.card img.blur {
  position: absulute;
  filter: blur(15px);
  z-index: -1;
  opacity: .40;
  transform: translate(-160px,30px);
  transition: all .35s ease-out;
}

.card:hover .card-img img.blur {
  transform: translate(-100px,35px) scale(.85);
  opacity: .25;
  filter: blur(20px);
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: auto;
  padding-top: 1em;
  paddimg-left: 60px;
  padding-right: 50px;
  scroll-behavior: smooth;
}

.card-content::-webkit-scrollbar {
  height: 0px;
}

.card-content:after {
  content: '';
  display: block;
  min-width: 20px;
  position: relative;
}

.btn {
  min-width: 60px;
  margin: auto 30px;
  height: 60px;
  border-radius: 20px;
  background: #003b6d;
  border: 0px;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  z-index: 9999;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
  transition: all .25s ease;
}

.btn:hover {
  box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
}

.btn i {
  font-size: 1.2rem;
}

.slider {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.slider:after {
  content: '';
  left: 98px;
  height: 90vh;
  position: absolute;
  width: 150px;
  z-index: 100;
  /*background: linear-gradient(90deg, rgb(242,243,248) 0%,rgba(242,243,248,0) 100%);*/
  pointer-event: none;
}

.slider:before {
  content: '';
  right: 98px;
  height: 90vh;
  position: absolute;
  width: 150px;
  z-index: 100;
  /*background: linear-gradient(90deg, rgba(242,243,248,0) 0%,rgba(242,243,248,1) 100%);*/
  pointer-event: none;
}

